<div id="fh5co-wrapper">
  <div id="fh5co-page">
    <div id="fh5co-header">
      <header id="fh5co-header-section">
        <div class="container">
          <div class="nav-header">




            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">Luxe</a></h1>
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <li><a class="active" routerLink=""  routerLinkActive="active">Home</a></li>
                <li>

                  <a routerLink="/hotel" class="fh5co-sub-ddown" routerLinkActive="active">Hotel</a>
                  <ul class="fh5co-sub-menu">
                    <li><a href="#">Luxe Hotel</a></li>
                    <li><a href="#">Deluxe Hotel</a></li>
                    <li>
                      <a href="#" class="fh5co-sub-ddown">King Hotel</a>
                      <ul class="fh5co-sub-menu">
                        <li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">Build</a></li>
                        <li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap" target="_blank">Work</a></li>
                        <li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap" target="_blank">Light</a></li>
                        <li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap" target="_blank">Relic</a></li>
                        <li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
                        <li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Five Star Hotel</a></li>
                  </ul>
                </li>
                <li><a routerLink="/services"  routerLinkActive="active">Services</a></li>
                <li><a routerLink="/blog"  routerLinkActive="active">Blog</a></li>
                <li><a routerLink="/contact"  routerLinkActive="active">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

    </div>
    <!-- end:fh5co-header -->
    <aside id="fh5co-hero" class="js-fullheight">
      <div class="flexslider js-fullheight">
        <ul class="slides">
          <li style="background-image: url(https://cdn.luxe.digital/media/2019/09/11213821/luxe-digital-luxury-hotel-online-transformation-vs-ota-high-end-hotels-hero.jpg);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-12 col-md-offset-0 text-center slider-text">
                <div class="slider-text-inner js-fullheight">
                  <div class="desc">
                    <p ><span>Bora Hotel</span></p>
                    <h2>Reserve Room for Family Vacation</h2>
                    <p>
                      <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(https://cdn-luxresorts-hotels.azureedge.net/media/6601/lux_nma_watervilla_hero.jpg);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-12 col-md-offset-0 text-center slider-text">
                <div class="slider-text-inner js-fullheight">
                  <div class="desc">
                    <p><span>Deluxe Hotel</span></p>
                    <h2>Make Your Vacation Comfortable</h2>
                    <p>
                      <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(https://www.traveluxury.com/wp-content/uploads/2020/04/Hideaway-Maldives-dining-Sunset-Pool-Cafe-4-1024x683.jpg);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-12 col-md-offset-0 text-center slider-text">
                <div class="slider-text-inner js-fullheight">
                  <div class="desc">
                    <p><span>Luxe Hotel</span></p>
                    <h2>A Best Place To Enjoy Your Life</h2>
                    <p>
                      <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </aside>
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div id="availability">
            <form action="#">

              <div class="a-col">
                <section>
                  <select class="cs-select cs-skin-border">
                    <option value="" disabled selected>Select Hotel</option>
                    <option value="email">Luxe Hotel</option>
                    <option value="twitter">Deluxe Hotel</option>
                    <option value="linkedin">Five Star Hotel</option>
                  </select>
                </section>
              </div>
              <div class="a-col alternate">
                <div class="input-field">
                  <label for="date-start">Check In</label>
                  <input type="text" class="form-control" id="date-start" />
                </div>
              </div>
              <div class="a-col alternate">
                <div class="input-field">
                  <label for="date-end">Check Out</label>
                  <input type="text" class="form-control" id="date-end" />
                </div>
              </div>
              <div class="a-col action">
                <a href="#">
                  <span>Check</span>
                  Availability
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-counter-section" class="fh5co-counters">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <span class="fh5co-counter js-counter" data-from="0" data-to="20356" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">User Access</span>
          </div>
          <div class="col-md-3 text-center">
            <span class="fh5co-counter js-counter" data-from="0" data-to="15501" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Hotels</span>
          </div>
          <div class="col-md-3 text-center">
            <span class="fh5co-counter js-counter" data-from="0" data-to="8200" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Transactions</span>
          </div>
          <div class="col-md-3 text-center">
            <span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Rating &amp; Review</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
